<div class="jumbotron jumbotron-fluid jumbotron-contact" id="contacto">
    <div class="container">
        <h1 class="contact-title text-center">Contáctame</h1>
        <form class="contact-form py-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" name="" id="" class="form-control contact-input"
                            placeholder="ejemplo@correo.com">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" name="" id="" class="form-control contact-input"
                            placeholder="Tu nombre o razón social">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="number" name="" id="" class="form-control contact-input"
                            placeholder="Tu teléfono">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" name="" id="" class="form-control contact-input"
                            placeholder="Precios">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <textarea class="form-control contact-textarea" rows="3"
                        placeholder="¿El motivo de tu contacto?"></textarea>
                    </div>
                </div>
                <button class="btn btn-contact mx-auto d-block">Enviar mensaje</button>
            </div>
        </form>
    </div>
</div>