<div class="jumbotron jumbotron-fluid jumbotron-contact" id="contacto">
    <div class="container">
        <h1 class="contact-title text-center">Contáctame</h1>
        <form class="contact-form py-5" [formGroup]="formGroup">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="email" name="email" formControlName="email" class="form-control contact-input"
                            placeholder="ejemplo@correo.com">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" name="name" formControlName="name" class="form-control contact-input"
                            placeholder="Tu nombre o razón social">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="tel" name="phone" formControlName="phone" class="form-control contact-input"
                            placeholder="Tu teléfono">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                      <select class="form-control contact-input" formControlName="price" name="price">
                        <option [selected]="this.contact.price == 0">Elige tus precios</option>
                        <option value="700">S/. 700</option>
                        <option value="1000">S/. 1000</option>
                        <option value="1400">S/. 1400</option>
                        <option value="Negociable">Negociable</option>
                      </select>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <textarea class="form-control contact-textarea" rows="3"
                        placeholder="¿El motivo de tu contacto?" formControlName="description" name="description"></textarea>
                    </div>
                </div>
                <input type="submit" [disabled]="formGroup.invalid" class="btn btn-contact mx-auto d-block"
                       [value]="formGroup.valid ? 'Enviar mensaje': 'Rellena los datos'" (click)="contactMe()">
            </div>
        </form>
    </div>
</div>
