@import '_variables.scss';


.portfolio-section {
  background: $dark-bg;
}

.portfolio-section .portfolio-section-title {
  color: $dark-title-two;
  font-weight: 700;
  font-size: 5em;
  font-family: $proxima-nova;
}

.portfolio-section .separate {
  background: $dark-separate-two;
  width: 7%;
  height: 8px;
  border-radius: 10px;
  animation: 1s separateTitle infinite alternate;
}

.port-section .port-card {
  background: none;
  border: none;
}

.port-section .port-title {
  color: $dark-title-two;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  font-family: $proxima-nova;
}

.port-section .port-description {
  color: $dark-paragraph-two;
  font-family: $proxima-nova;
  font-size: 1.5em;
  text-align: justify;
}

.port-section .btn-contact {
  background: $dark-button-two;
  min-width: 25%;
  color: $dark-button-paragraph-two;
  font-family: $proxima-nova;
  transition: all 500ms;
  font-weight: 700;
  border-radius: 99px;
}

.btn-contact:hover {
  width: 30%;
}

.icon-github {
  width: 32px;
  height: 32px;
  background-image: url("../../../assets/images/angular.png");
}

@media (min-width: 350px) and (max-width: 550px) {
  .portfolio-section .portfolio-section-title {
    font-size: 2em;
  }
}
