@import '_variables.scss';

.navbar-brand svg .path-one, .path-two {
  stroke: $dark-path;
}

.navbar-brand svg .path-three {
  fill: $dark-path;
}



.first-toolbar {
  background: $dark-theme;
}

.second-toolbar .nav-item .nav-link {
  color: $dark-title;
  font-weight: 700;
  font-family: $proxima-nova;
  font-size: 1.5em;
  transition: all 400ms;
  &:hover {
    font-size: 2em;
  }
}
