<div class="apt-section container-fluid my-5">
  <div class="d-flex align-items-end flex-column">
    <h1 class="apt-section-title">👨🏻‍💻 Habilidades</h1>
    <div class="separate float-right"></div>
  </div>
  <div class="row py-5">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="container-fluid p-0">
        <!-- Empieza carta de habilidades -->
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
            <div class="apt-card card">
              <div class="card-body">
                <h4 class="apt-card-title">Hablante de inglés</h4>
                <div class="separate"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
            <div class="card d-none">
              <div class="card-body"></div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
            <div class="apt-card card">
              <div class="card-body">
                <h4 class="apt-card-title">Analista de requisitos</h4>
                <div class="separate"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
            <div class="apt-card card">
              <div class="card-body">
                <h4 class="apt-card-title">Comunicativo</h4>
                <div class="separate"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Termina carta de habilidades -->
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
      <p class="apt-description">
        No tengas miedo en dejarme tu proyecto en mis manos, te ofreceré los mejores
        diseños de páginas web, posicionamiento SEO, estructuraré tu proceso de negocio y lo mejor,
        te brindaré asesoría las 24/7. <br><br>
        Con mi amplia experiencia en diferentes tipos de tecnologías, soy capaz
        de construir cualquier tipo de aplicación.
      </p>
      <button class="btn btn-contact" (click)="goContact()">Contáctame</button>
    </div>
  </div>
</div>
